
#detail_bottom_con{
	width: 800px;
	margin: 20px auto;
	padding: 20px;
	background: white;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 50px 1fr;
}
#detailMenuBtns{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	text-align: center;
	border-bottom: 1px solid #eee;
	font-weight: 500;
	font-size: 1.2rem;
	cursor: pointer;
}
.detailMenuBtn.selected{
	color: red;
	border-bottom: 3px solid red;
}
.main_tab_wrap{
	margin:30px;
}
/* 안내 */
.viewpage_noti, .main_tab_title{
	font-size: 1.2rem;
	font-weight: 500;
	margin: 15px 0 5px 0;
}
.viewpage_text{
	padding: 20px;
}
.radius_box{
	background: #eee;
	border-radius: 15px;
	margin: 20px 0;
}
/* 상세 이미지 펼쳐보기 */
.info_detail_btn {
   position: absolute;
   bottom: 15px;
   width: 94%;
   height: 55px;
   line-height: 55px;
    margin-left: 3%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    box-shadow:1px 1px 3px 2px #ddd;
    cursor: pointer;
}
.info_detail_poster {
    position: relative;
    margin: 35px 0;
    width: 100%;
    height: 700px;
    color: #fff;
    font-size: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 0%;
}
.info_detail_gradient {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0.8) 80%,
    rgb(255, 255, 255) 100%);
}

/* 상세 이미지 스타일   */
.main_img {
	margin: 35px 0;
	width: 700px;
	text-align: center;
}

.main_img img {
	display: block;
	width: 100%;
}
/* 리뷰 */
#reviews_container{
	
}
.review{
	border-bottom: 1px solid #eee;
	display: grid;
	grid-template-rows: 1fr 1fr 3fr;
}
.review_star{
	
}
.review_info{
	
}
.review_content{
	display: grid;
	grid-template-columns: 3fr 1fr;
}

/* 장소 - 지도 */
#map1{
	width: 96%;
	height: 400px;
}
#map2{
	width: 96%;
	height: 400px;
}

/* 환불규정 */
.txt_blue{
	color: #000098;
}
.txt_red{
	color: #FF0000;
}
.txt_gray{
	color: #777;
}