#detail_bottom_con {
	width: 800px;
	margin: 20px auto;
	padding: 20px;
	background: white;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 50px 1fr;
}

#detailMenuBtns {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	text-align: center;
	border-bottom: 1px solid #eee;
	font-weight: 500;
	font-size: 1.2rem;
	cursor: pointer;
}

.detailMenuBtn.selected {
	color: red;
	border-bottom: 3px solid red;
}

.main_tab_wrap {
	margin: 30px;
}

/* 안내 */
.viewpage_noti,
.main_tab_title {
	font-size: 1.2rem;
	font-weight: 500;
	margin: 15px 0 5px 0;
}

.viewpage_text {
	padding: 20px;
}

.viewpage_content {
	color: #777;
}

.viewpage_link {
	font-weight: 400;
	text-decoration: underline;
	color: #000
}

.radius_box {
	background: #eee;
	border-radius: 15px;
	margin: 20px 0;
}

/* 상세 이미지 펼쳐보기 */
.info_detail_btn {
	position: absolute;
	bottom: 15px;
	width: 94%;
	height: 55px;
	line-height: 55px;
	margin-left: 3%;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: #fff;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	box-shadow: 1px 1px 3px 2px #ddd;
	cursor: pointer;
}

.info_detail_poster {
	position: relative;
	margin: 35px 0;
	width: 100%;
	height: 700px;
	color: #fff;
	font-size: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 0%;
}

.info_detail_gradient {
	width: 100%;
	height: 700px;
	background-image: linear-gradient(to bottom,
			rgba(255, 255, 255, 0) 40%,
			rgba(255, 255, 255, 0.4) 60%,
			rgba(255, 255, 255, 0.8) 80%,
			rgb(255, 255, 255) 100%);
}

/* 상세 이미지 스타일   */
.main_img {
	margin: 35px 0;
	width: 700px;
	text-align: center;
}

.main_img img {
	display: block;
	width: 100%;
}

/*후기탭 별점 칸*/
.score {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100%;
	background-color: #f6f6f6;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 20px 30px;
}

.score_left {
	display: grid;
	grid-template-rows: 2fr 1fr 1fr;
	place-items: center;
	border-right: 2px solid #e2e2e2;
	padding: 10px 30px;
}

.score_left_average {
	font-size: 2rem;
	font-weight: 500;
}

.score_left_stars {
	width: 120px;
}

.score_left_star_based {
	position: relative;
	background: url('/resources/common/image/icon_background_stars.png');
	background-repeat: no-repeat;
	background-size: 120px;
	height: 22px;
}

.score_left_star_filled {
	position: absolute;
	background: url('/resources/common/image/icon_background_stars_filled.png');
	background-repeat: no-repeat;
	background-size: 120px;
	height: 22px;
}

.score_left_total {
	color: #777;

}

.score_right {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	margin: 10px 20px;

}

/* 별점 분포 그래프 */
.progress {
	display: grid;
	grid-template-columns: 1fr 5fr;
	color: #777;
	place-items: center;
}

.progress div {
	margin-right: 15px;
}

.progress_bar,
.progress_value {
	height: 6px;
	border-radius: 10px;
}

.progress_bar {
	width: 80%;
	background-color: #e2e2e2;
}

.progress_value {
	background-color: #FFA515;
}

/* 리뷰 */
#reviews_container {
	margin: 20px;
}
#noReview{
	display: grid;
	place-items: center;
	width: 100%;
	height: 200px;
}
#noReview > div{
	font-size: 1.2rem;
	font-weight: 500;
}
.review {
	padding-top: 15px;
	border-top: 2px solid #eee;
	display: grid;
	grid-template-rows: 30px 1fr;
}

.review_top {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.review_stars {
	width: 120px;
	padding-top: 2px;
}

.review_star_based {
	background-image: url('/resources/common/image/icon_background_stars.png');
	background-repeat: no-repeat;
	background-size: 120px;
	width: 100%;
	height: 22px;
}

.review_star_filled {
	position: absolute;
	background-image: url('/resources/common/image/icon_background_stars_filled.png');
	background-repeat: no-repeat;
	background-size: 120px;
	height: 22px;
}

.reviewer_id {
	font-weight: 500;
	font-size: 1.2rem;
}

.review_date {
	text-align: right;
	color: #777;
}

.review_content {
	padding: 5px;
}

.star_num {
	font-weight: 600;
	padding-top: 10px;
}

/* qna */
#qna_form_container {
	padding: 20px;
	background: #f5f5f5;
	margin: 10px 0;
	display: grid;
	grid-template-columns: 5fr 1fr;
	column-gap: 10px;
}

#qna_textarea textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #e6e6e6;
	padding: 10px;
	font-size: 1.05rem;
	line-height: 1.5;
	resize: none;
}

#qna_button button {
	width: 100%;
	height: 100%;
	background-color: white;
	font-size: 1.2rem;
	font-weight: 600;
	border: 1px solid #e6e6e6;
	color: #777;
}


.qna{
	width: 100%;
	border: 1px solid #e6e6e6;
	background: #fff;
	padding: 20px;
	display: grid;
	grid-template-rows: 30px 1fr;
	row-gap: 10px;
	margin-bottom: 10px;
}
.qna_id{
	font-weight: 500;
	font-size: 1.2rem;
}
.qna_date{
	color: #777;
	font-size: 0.9rem;
}


/* 장소 - 지도 */

div[id^=map] {
	padding: 10px;
	width: 100%;
	height: 400px;
}


/* 환불규정 */
.txt_blue {
	color: #000098;
}

.txt_red {
	color: #FF0000;
}

.txt_gray {
	color: #777;
}