@charset "utf-8";

/* css 추가 */
#calendar_popup .ui-widget.ui-widget-content {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff;
}

#calendar_popup .ui-datepicker .ui-datepicker-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#calendar_popup .ui-widget-header {
    background: #fff;
    border: 0;
    margin-top:10px;
}

#calendar_popup .ui-datepicker .ui-datepicker-prev {
    position: static;
    display: block;
    width: 15px;
    height: 18px;
    background: url(../../mobile_img/detail/ico_pre.png) no-repeat center center;
    background-size: 100% 100%;
    margin-right: 20px;
    cursor: pointer;
    order: 0
}

#calendar_popup .ui-datepicker .ui-datepicker-next {
    position: static;
    display: block;
    width: 15px;
    height: 18px;
    background: url(../../mobile_img/detail/ico_next.png) no-repeat center center;
    background-size: 100% 100%;
    margin-left: 20px;
    cursor: pointer;
    order: 2
}

#calendar_popup .ui-datepicker .ui-datepicker-prev span,
#calendar_popup .ui-datepicker .ui-datepicker-next span {
    position: static;
    display: none;
}

#calendar_popup .ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0;
}

#calendar_popup .ui-datepicker .ui-datepicker-title span {
    color: #414141;
    font-weight: bold;
    font-size: 18px;
}

#calendar_popup .ui-datepicker .ui-datepicker-title span.ui-datepicker-year {
    order: 0
}

#calendar_popup .ui-datepicker .ui-datepicker-title span.ui-datepicker-year::after {
    content: ".";
    display: inline-block;
    color: #414141;
    font-weight: bold;
    font-size: 18px;
}

#calendar_popup .ui-datepicker .ui-datepicker-calendar {
    width:100%;
    margin-top: 10px;
}

#calendar_popup .ui-datepicker th {
    padding: 0;
    color: #919191;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
}

#calendar_popup .ui-datepicker td {
    padding: 0;
    padding-bottom: 12px;
    position: relative;
}

#calendar_popup .ui-datepicker td a {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 90px;
    color: #414141;
    font-size: 15px;
    margin: 0 auto;
    border: 0;
    background: none;
    text-align: center;
    padding: 0;
}

#calendar_popup .ui-datepicker td.ui-datepicker-today a:after {
    content: '오늘';
    position: absolute;
    font-size: 10px;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    width: auto;
    height: auto;
    color: #ff4b4b;
}

#calendar_popup .ui-state-disabled {
    opacity: 0.4;
}

#calendar_popup .ui-state-disabled span {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 90px;
    color: #414141;
    font-size: 15px;
    margin: 0 auto;
    border: 0;
    background: none;
    text-align: center;
    padding: 0;
}

#calendar_popup .ui-datepicker tr td:first-child a,
#calendar_popup .ui-datepicker tr td:first-child span {
    color: #ff4b4b;
}

#calendar_popup .ui-datepicker tr td:last-child a,
#calendar_popup .ui-datepicker tr td:last-child span {
    color: #4b75ff;
}

#calendar_popup .ui-datepicker tr td a.ui-state-active {
    background: #ff4b4b;
    color: #fff;
}

#calendar_popup.calendar_popup_02 .ui-widget.ui-widget-content {
    padding-bottom: 5px;
}

.calendar_popup_02 .submit_btn {
    padding-top:10px;
    width: 100%;
    background: #f4f4f4;
    cursor: pointer;
}

.calendar_popup_02 .submit_btn button {
    display: block;
    width: 100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    background: #ff4b4b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.calendar_popup_02 .submit_btn button.disabled {
    background: #c6c6c6;
    cursor: pointer;
}
