.footer-container {
	background-color: white;
}

/* 작품 상세페이지 (상단) 부모 div */
.detail-top-con {
    width: 820px;
    padding: 1%;
    padding-top: 30px;
    margin: 0 auto; /* 중앙정렬 */
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-template-columns: 482px 307px;
}

.detail-top-now-category {
    grid-column: 1/-1;
}

/* product-list로 돌아가는 a 링크 */
.detail-top-now-category > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 15px;
}

/* 작품 소개 칸 */
.detail-top-left {
    margin-right: 20px;
    display: grid;
    grid-template-rows: 482px 1fr;
}

    .detail-top-info {
        position: relative;
        border-radius: 15px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.95) 100%);
        color: white;
    }

        .detail-top-info > img {
            position: absolute;
            top: 155px;
            left: 25px;
            width: 140px;
            height: 200px;
            border: 0;
        }

        .detail-top-info-con {
            position: absolute;
            top: 150px;
            left: 183px;
        }

        .detail-top-info-icon {
            display: inline-block;
            font-size: 16px;
            padding: 5px 10px;
            background: #555555;
            opacity: 0.9; /* 투명도 */
            border-radius: 7px;
            margin-right: 5px;
        }

        .detail-top-info-subtitle {
            padding-top: 10px;
            font-size: 14px;
            font-weight: 300;
            height: 26px;
        }

        .detail-top-info-title {
            line-height: 140%;
            font-weight: 600;
            height: 54px;
            padding-top: 10px;
            padding-right: 5px;
        }

        .detail-top-info-openrun {
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            padding-top: 25px;
        }

            .detail-top-run-tit {
                display: grid;
                grid-template-columns: 30px 1fr;
                padding-top: 5px;
            }

            .detail-top-run-info {
                display: grid;
                grid-template-columns: 30px 100px 30px 1fr;
                padding-top: 5px;
            }

            .detail-top-run-txt {
                padding-top: 2px;
            }


    .detail-top-info-price {
        position: absolute;
        top: 390px;
        left: 5px;
        width: 100%;
        display: grid;
        grid-template-columns: 200px 80px 1fr;
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        border-top: solid 1px white;
        padding: 15px;
    }

    .detail-top-info-price > div:first-child {
        padding-left: 10px;
    }

    .detail-top-info-price > div:first-child > div:first-child {
        color: red;
    }

    .detail-top-info-price > div:first-child > div:last-child {
        padding-top: 5px;
        padding-left: 1px;
        font-size: 12px;
    }
    
    .detail-top-info-price > :nth-child(2) {
		text-align: right;
		text-decoration-line: line-through;
		padding-top: 20px;
		font-size: 15px;
	}

    .detail-top-info-price > div:last-child {
        padding-top: 10px;
        padding-left: 20px;
        text-align: left;
    }

/* 사용자 선택 popup */
.detail-top-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px;
}

    .detail-top-right > div {
        border-radius: 10px;
        background-color: white;
    }
    /* 달력 */
    .flatpickr-calendar {
        border-radius: 10px !important;
    }
    
    .placeholder {
		border-radius: 10px !important;
	}
    
    /* 전시 옵션선택 */
    .popup-option {
		display: flex;
		flex-direction: column;
        flex-wrap: wrap;
        padding: 10px 15px 15px 10px;
	}
		
    /* 시간선택 , 수량 선택 */
    .popup-time-parent, .popup-qty {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 10px;
        padding: 10px 15px 15px 10px;
    }
    
    	.popup-qty-parent > input {
			border: 0;
			text-align: center;
			font-size: 16px;
		}

        .popup-text {
            color: black;
            font-weight: bold;
            font-size: 15px;
        }

        .popup-time, #popup-option-btn {
            margin-top: 5px;
            padding: 10px;
            font-size: 13px;
            background: #f5f5f5;
            border: 0;
            border-radius: 5px;
            text-align: left;
            cursor: pointer;
        }

        .popup-time > input, #popup-option-btn > input {
            background: none;
            border: 0;
            padding-left: 8px;
            text-align: left;
        }
        
        .popup-qty-sub {
            background-color: #F5F5F5;
            border-radius: 10px;
            padding: 10px;
        }

        .popup-qty {
            display: none;
            grid-template-rows: 1fr 1fr 1fr;
        }

            .popup-qty > div:first-child {
                grid-row: 1/-1;
            }

            .popup-qty-parent {
                display: none;
                grid-template-columns: 70px 100px 20px 30px 40px 30px;
                text-align: center;
            }
            
            .popup-qty-price {
				text-align: right;
                border: 0;
            }
            
            .qty-value {
				text-align: center;
				border: 0;
			}

            .qty-minus, .qty-plus {
                background-color: white;
                border: 0;
                font-weight: bold;
                font-size: 15px;
                cursor: pointer;
            }

    /* 총 결제금액 */
    .popup-totalPrice {
        display: none;
        grid-template-columns: 150px 1fr 30px;
        font-size: 18px;
        font-weight: bold;
        padding: 5%;
        text-align: left;
    }

    #popup-totalPrice-value {
        width: 100px;
        color: red;
        font-size: 18px;
        font-weight: bold;
        text-align: right;
        border: 0;
    }

    /* 결제하기 버튼 */
    #popup-payment-btn {
        width: 100%;
        height: 50px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border: 0;
        cursor: pointer;
        border-radius: 10px;
        background-color: #b0b0b0;
    }
	
    #popup-payment-btn:enabled {
        background-color: #46c8b4;
    }
    
input {
	border: none;
    outline: none;
}
