@charset "EUC-KR";

element.style {
}
a, a.underline {
    color: #000;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', 'Pretendard Variable';
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.findpw-wrap {
    width: 500px;
    margin: 50px auto;
    padding: 60px 0;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 30px;
    background-color: #f6f6f6;
}
body, table {
    word-break: break-all;
    font-size: 13px;
    font-weight: 400;
}
.icon-id {
	background-image: url('/resources/join/images/user-id.png');
}

.icon-name {
	background-image: url('/resources/join/images/user-name.png');
}


.icon-hphone {
	background-image: url('/resources/join/images/user-hphone.png');
}

.icon-cid {
	background-image: url('/resources/join/images/user-cid.png');
}
	
.icon-birth-date {
	background-image: url('/resources/join/images/user-birth-date.png');
}
.findpw-wrap {
    width: 500px;
    margin: 50px auto;
    padding: 60px 0;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 30px;
    background-color: #f6f6f6;
}

.input-box {
	width: 350px;
	height: 60px;
	padding: 0 10px 0 60px;
	font-size: 18px;
	border-radius: 10px;
	border: 1px solid #ddd;
	background-repeat: no-repeat;
	background-size: 27px;
	background-position: 20px 15px; /* 오른쪽, 아래 */
}
.flex-between {
	display: flex;
	justify-content: space-between;
	width: 423px;
	margin-left: 40px;
}
.input-alret-id, .input-alret-password, .input-alret-name,
	.input-alret-email, .input-alret-cid, .input-alret-birth-date, .input-alret-phone {
	text-align: left;
	margin-left: 60px;
	height: 15px;
	margin-top: 5px;
	font-size: 13px;
	color: #f00;
}
.btn-hphone-on {
	width: 90px;
	height: 57px;
	border: none;
	border-radius: 10px;
	background: rgba(70, 200, 180);
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}
.section-title {
	text-align: left;
	margin: 10px 0 10px 45px;
	color: #555;
	font-size: 20px;
	font-weight: 700;
}

.findpw-submit {
	width: 425px;
	height: 60px;
	border: none;
	border-radius: 10px;
	background: rgba(70, 200, 180);
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}
.findpw-submenu {
	margin-top: 25px;
	font-size: 14px;
	text-decoration: none;
}

.findpw-submenu a {
	color: #777;
}

.findpw-submenu span {
	color: #777;
	font-size: 14px;
	vertical-align: 0px;
	margin: 0 10px;
}