
.loading-img-div {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) url('../../mobile-img/loading.gif')
		50% 40% no-repeat;
	background-size: 60px 60px;
}

.join-wrap {
	width: 500px;
	margin: 50px auto;
	padding: 60px 0 50px 0;
	text-align: center;
	border: 3px solid rgba(70, 200, 180, 0.5);
	border-radius: 30px;
	background-color: #fff;
}

.section-wrap-top {
	margin-top: 40px;
}

.section-wrap {
	margin-top: 7px;
}

#section-hphone-verify {
	padding-top: 10px;
}

.input-box {
	width: 350px;
	height: 55px;
	padding: 0 10px 0 60px;
	font-size: 18px;
	border-radius: 10px;
	border: 1px solid #ddd;
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 20px 15px; /* �삤瑜몄そ, �븘�옒 */
}

.readonly {
	background-color: #eee;
}

.input-alret-id, .input-alret-password, .input-alret-name,
	.input-alret-email, .input-alret-cid, .input-alret-birth-date {
	text-align: left;
	margin-left: 60px;
	height: 15px;
	margin-top: 5px;
	font-size: 13px;
	color: #f00;
}

.icon-id {
	background-image: url('/resources/join/images/user-id.png');
}

.icon-pass {
	background-image: url('/resources/join/images/user-pass.png');
}

.icon-pass2 {
	background-image: url('/resources/join/images/user-pass2.png');
}

.icon-name {
	background-image: url('/resources/join/images/user-name.png');
}

.icon-email {
	background-image: url('/resources/join/images/user-email.png');
}

.icon-hphone {
	background-image: url('/resources/join/images/user-hphone.png');
}

.icon-cid {
	background-image: url('/resources/join/images/user-cid.png');
}

.icon-birth-date {
	background-image: url('/resources/join/images/user-birth-date.png');
}

.section-title {
	text-align: left;
	margin: 10px 0 10px 45px;
	color: #555;
	font-size: 20px;
	font-weight: 700;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	width: 423px;
	margin-left: 40px;
}

.btn-hphone-on {
	width: 90px;
	height: 57px;
	border: none;
	border-radius: 10px;
	background: rgba(70, 200, 180);
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}

.btn-hphone-off {
	width: 90px;
	height: 57px;
	border: none;
	border-radius: 10px;
	background: #bbbbbb;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}

.noti-hphone {
	width: 400px;
	padding: 15px 0 15px 25px;
	margin: 15px 0 0 40px;
	border: none;
	border-radius: 10px;
	background: #f5f5f5;
	color: #333;
	font-size: 15px;
	text-align: left;
	line-height: 180%;
}

.disableBackGround {
	background-color: #eee;
}

.checkbox-group {
	width: 375px;
	padding: 5px 25px;
	margin-top: 20px;
	margin-left: 40px;
	border: none;
	border-radius: 10px;
	background: #f5f5f5;
	color: #333;
	text-align: left;
	line-height: 180%;
}

.checkbox {
	vertical-align: -3px;
	width: 18px;
	height: 18px;
}

.checkbox-line label {
	padding-left: 10px;
	font-size: 16px;
}

.checkbox-line {
	color: #777;
	padding: 12px 0;
	border-bottom: 1px solid #ccc;
}

.check-all {
	color: #333;
	font-weight: 700;
}

.detail-seperate {
	display: flex;
	justify-content: space-between;
}

.check-req {
	font-size: 13px;
	padding-left: 7px;
	color: #ff4b4b;
	vertical-align: 1px;
}

.check-detail {
	font-size: 16px;
	color: #999;
	font-weight: 300;
	text-decoration: underline;
}

.btn-submit {
	margin-top: 30px;
	width: 425px;
	height: 60px;
	border: none;
	border-radius: 10px;
	background: rgba(70, 200, 180);
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}
