<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.webproject.mapper.CouponMapper">
	
	<select id="getMemberCode">
		SELECT 
			member_code
		FROM
			members
		WHERE
			rownum = 1
		ORDER BY
			member_code DESC
	</select>
	
	<select id="getMemberCodeWithUserId" parameterType="string" resultType="int">
		SELECT
			member_code
		FROM
			members
		WHERE
			member_id=#{user_id}
	</select>
	
	<insert id="insertCoupon" parameterType="MemberCouponDTO">
		INSERT INTO
			member_coupon(
				member_coupon_code,
				user_code,
				coupon_code,
				coupon_state,
				expiry_date
			)
		VALUES
			(
				member_coupon_code_seq.nextval,
				#{user_code},
				#{coupon_code},
				#{coupon_state},
				#{expiry_date}
			)
	</insert>
	<select id="getAllRecords" parameterType="string" resultType="MemberCouponDTO">
		SELECT
			mc.member_coupon_code,
			mc.user_code,
			mc.coupon_code,
			mc.expiry_date,
			cp.coupon_name,
			cp.discount_rate,
			cp.discount_money,
			cp.coupon_qty
		FROM
			member_coupon mc,
			coupon cp,
			(SELECT member_code FROM members
			 WHERE member_id = #{user_id}) id
		WHERE
			mc.user_code = id.member_code
			AND mc.coupon_code = cp.coupon_code
			AND mc.coupon_state = 0
			AND TO_CHAR(mc.expiry_date, 'YYYYMMDD') >= TO_CHAR(sysdate, 'YYYYMMDD')
	</select>
	
	<select id="getCount" parameterType="string" resultType="int">
		SELECT
			COUNT(*)
		FROM
			member_coupon mc
		WHERE
			mc.user_code IN
				(SELECT
					member_code
				 FROM
				 	members
				 WHERE
				 	member_id=#{user_id})
			AND mc.coupon_state=0
			AND TO_CHAR(mc.expiry_date, 'YYYYMMDD') >= TO_CHAR(sysdate, 'YYYYMMDD')
	</select>
	
	<select id="getBirthdayCoupon" parameterType="string" resultType="int">
		SELECT
			COUNT(*)
		FROM
			member_coupon
		WHERE
			user_code=(SELECT member_code FROM members WHERE member_id=#{user_id})
			AND coupon_code=2
			AND TO_CHAR(expiry_date, 'YY')=TO_CHAR(sysdate, 'YY')
	</select>
	
	<select id="checkBirthday" parameterType="string" resultType="int">
		SELECT
			COUNT(*)
		FROM
			members
		WHERE
			member_id=#{user_id}
			AND TO_CHAR(member_birth, 'MM')=TO_CHAR(sysdate, 'MM') 
	</select>
	
	<update id="updateCouponState" parameterType="int">
		UPDATE
			member_coupon
		SET
			coupon_state=1
		WHERE
			member_coupon_code=#{member_coupon_code}
	</update>
	
	<update id="updateCouponReturn">	
		UPDATE member_coupon 
		SET coupon_state = 0 
		WHERE user_code = #{member_code}
	    AND member_coupon_code = (SELECT related_coupon FROM payments WHERE payment_code = #{payment_code})		
	</update>
	<select id="getAllCoupon" resultType="CouponDTO">
		SELECT * FROM coupon ORDER BY coupon_code
	</select>
	
	<insert id="insertNewCoupon" parameterType="CouponDTO">
		INSERT INTO
			coupon (
				coupon_code,
				coupon_name,
				discount_rate,
				discount_money,
				coupon_qty
			)
		VALUES (
			coupon_code_seq.nextval,
			#{coupon_name, jdbcType=VARCHAR},
			#{discount_rate, jdbcType=VARCHAR},
			#{discount_money, jdbcType=VARCHAR},
			#{coupon_qty, jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="getNewestCoupon" resultType="CouponDTO">
		SELECT rownum, c.* FROM (SELECT * FROM coupon ORDER BY coupon_code DESC) c WHERE rownum = 1
	</select>
	
	<update id="deleteCoupon" parameterType="int">
		DELETE FROM coupon WHERE coupon_code=#{coupon_code}
	</update>
	
	<update id="updateCoupon" parameterType="CouponDTO">
		UPDATE
			coupon
		SET
			coupon_name=#{coupon_name},
			discount_rate=#{discount_rate, jdbcType=VARCHAR},
			discount_money=#{discount_money, jdbcType=VARCHAR},
			coupon_qty=#{coupon_qty, jdbcType=VARCHAR}
		WHERE
			coupon_code=#{coupon_code} 
	</update>
</mapper>