@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
	box-sizing: border-box;
	width: 600px;
	height: 900px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: start;
}

#coupon-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: start;
}

.coupon {
	display: grid;
	grid-template-columns:140px 1fr 1fr;
	grid-template-rows: 7fr 3fr;
	height: 120px;
	width: 550px;
	background-image: url("/resources/mypage/img/coupon.png");
	margin-top: 10px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 10px;
}

.coupon>div {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*쿠폰이름*/
.coupon>div:first-child {
	grid-column: 2/4;
	grid-row: 1/2;
}
/*쿠폰만료기한*/
.coupon>div:nth-child(2) {
	grid-column: 2/3;
	grid-row: 2/3;
	justify-content: left;
	align-items: end;
	padding: 15px;
}
/*쿠폰할인*/
.coupon>div:nth-child(3) {
	grid-column: 3/4;
	grid-row: 2/3;
	justify-content: right;
	align-items: end;
	padding-right: 20px;
	padding-bottom: 10px;
}
/*쿠폰 text*/
.coupon>div:last-child {
	grid-column: 1/2;
	grid-row: 1/3;
}

.coupon-name {
	font-size: 30px;
	font-weight: 500;
}

.expiry-date {
	font-size: 15px;
	font-weight: 400;
}

.discount {
	font-size: 20px;
}

.coupon-text {
	font-size: 25px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}