input {
	border: none;
    outline: none;
	font-size: 15px;
}

.payment-con {
    width: 1100px;
    margin: auto;
    padding: 20px 50px;
    background:#f1f1f1;
    border-radius: 10px;
    margin-bottom: 20px;
}

    .payment-title {
        font-size: 24px;
        font-weight: 500;
        padding: 35px 0px 21px 0px;
        border-bottom: 1px dotted black;
    }

    /* 티켓정보 */
    .payment-selected-subtitle {
        font-size: 18px;
        font-weight: 700;
        padding-top: 20px;
    }

    .payment-selected-box {
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 10px 25px;
        margin-top: 8px;
        background-color: #fff;
        border: 1px solid #d2d2d2;
        border-radius: 10px;
        font-size: 15px;
        line-height: 160%;
    }

    /* 예매정보 */
    .payment-selected-box-title {
        color: #888;
        font-size: 15px;
    }

    /* 쿠폰 */
    .payment-coupon {
        display: grid;
        grid-template-columns: 15% 20% 10% 55%;
        text-align: left;
        padding: 10px 25px;
        margin-top: 8px;
        background-color: #fff;
        border: 1px solid #d2d2d2;
        border-radius: 10px;
        font-size: 15px;
        line-height: 160%;
    }
	
	#title-reset-wrapper {
		display: flex;
		justify-content: space-between;
		flex-flow: row nowrap;
	}
	
	#reset {
		margin-right: 5px;
		cursor: pointer;
		background-color: transparent;
		border: none;
	}
	
    .payment-coupon-value {
        border-bottom: 2px solid #888;
        margin-right: 10px;
    }

    .payment-chkcoupon-btn {
        color: white;
        font-weight: 400;
        font-size: 15px;
        border: 1px solid #46c8b4;
        background: #46c8b4;
        border-radius: 5px;
        cursor: pointer;
    }

    /* 총 가격 */
    .payment-total {
        display: grid;
        grid-template-columns: 15% 85%;
    }

    .payment-total > div:last-child {
        color: #ff0000;
        font-size: 18px;
        font-weight: 700;
        margin-left: 18px;
        padding-top: 20px;
    }

    /* 환불규정, 이용약관 */
    .payment-selected-policy {
        display: grid;
        grid-template-columns: 17% 83%;
        padding-top: 5px;
    }

    .payment-selected-policy > div {
        padding-top: 20px;
    }

    .payment-selected-policy-subtitle {
        font-size: 18px;
        font-weight: 700;
    }

    .policy-slide-btn {
        color: #555;
        font-weight: 400;
        font-size: 15px;
        border: 1px solid #d2d2d2;
        background: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    .policy_txt {
        display: none;
        grid-column: 1/-1;
        font-size: 14px;
        background: #fff;
        color: #555;
        line-height: 150%;
        padding: 20px 20px 20px 20px;
        border: 1px solid #d2d2d2;
        border-radius: 10px;
        margin-top: 10px;
    }

    .show {
        display: block;
    }

    /* 결제하기 */
    .payment-chkBox {
        padding-top: 20px;
    }

    .payment-chkBox > div:last-child {
        text-align: center;
        padding-top: 20px;
    }

    #payment-btn {
        padding: 12px;
        width: 250px;
        font-size: 22px;
        background: #46c8b4;
        color: #fff;
        border: 1px solid #46c8b4;
        border-radius: 10px;
        cursor: pointer;
    }