.event_list_wrap {
	margin: 7px 0;
	padding: 30px 30px 40px 30px;
	border: 1px solid #ccc;
	border-radius: 15px;
	background: #fff;
	color: #000;
	text-align: left;
	cursor: pointer;
}

.event_list_wrap:hover{
    transform: translate(0,-5px);
}

.event_list_left {
	float: left;
}

.event_list_left img {
	width: 135px;
	height: 190px;
	border-radius: 10px;
	border: 1px solid #ddd;
}

.event_list_right {
	height: 190px;
	margin-left: 170px;
	margin-top: 7px;
}

.event_list_badge {
	color: #fff;
	font-size: 15px;
	border-radius: 10px;
	padding: 5px 12px;
	background: #ff4b4b;
}

.event_list_title {
	font-weight: 600;
	font-size: 18px;
	letter-spacing: -0.5px;
	line-height: 30px;
}

.event_list_info_menu {
	color: #fff;
	background: #ff4b4b;
	border-radius: 5px;
	padding: 2px 8px;
	margin-right:10px;
	float:left;
}

.event_list_info_txt {
	display:block;
	margin-left: 3px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap; 
  	width:200px;
}