@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

/* Reset styles */
* { margin:0; padding:0; font-family: 'Pretendard', 'Pretendard Variable'; }
html, body{width:100%; height:100%; background:#fff;}
body, table{word-break:break-all; font-size:13px; font-weight:400; }
td, select {font-size:13px; font-weight:400; }
html {overflow-y: scroll; }
ul,li,dl,dt,dd{list-style:none; margin:0; padding:0;}
form, p {margin:0}

/* Links */
a,
a.underline {
  color: #000;
  text-decoration: none;
}

a.underline:hover {
  text-decoration: underline;
}

/* Tables */
table {
  border-collapse: collapse;
}

/* Images */
img {
  border: none;
  padding: 0;
  margin: 0;
}

object {
  display: block;
}

/* Layout */
.wrap_1100 {
  margin: auto;
  width: 1100px;
  position: relative;
}

.clear {
  clear: both;
}

.footer_pd {
  clear: both;
  padding: 15px;
}

.input_New {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}

#top_gnb { margin:0; margin-top: 10px; }
#top_gnb li { float:left; list-style:none; font-size:14px; font-weight:400; }
#top_gnb li a { display: block; text-align:center; width: 50px; padding:10px; color: black; white-space: nowrap; }
#top_gnb li a:hover { color:#ff4b4b; }
#top_gnb li ul { position: absolute; visibility: hidden; margin-top:2px; margin-left:-45px; padding:10px; border-radius:10px; box-shadow: 0 0 10px #ddd; background:#fff; z-index:9999; }
#top_gnb li ul li { float: none; display: inline; }
#top_gnb li ul li a { width: 140px; font-size:14px; color:#454545; padding:10px 0; }
#top_gnb li ul li a:hover { color:#ff4b4b; }

.bottom_menu {
  font-size: 15px;
  padding: 5px;
}
.bottom_btns {
  font-size: 20px;
  display: flex;
}

.gnb_wrap { position:relative; width:1100px; margin:auto;}
.gnb_nav { list-style:none; vertical-align:top;}
.gnb_nav > li { position:relative; height:50px; line-height:50px; border:0px solid #fff; }
.gnb_nav > li { display:inline-block; padding:0 20px;} 
.gnb_nav > li > a { color:black; font-size: 20px; font-weight:500;}
.gnb_nav > li > a:hover { color:#ff4b4b; }
.gnb_nav .on { border:1px solid #eee; border-bottom:none; border-radius:10px 10px 0 0; background: #f9f9f9; }
.gnb_nav .on a { color:#ff4b4b; font-weight:700; }
.gnb_nav .nav_divide { color:#ccc; font-size:16px; font-weight:100; padding:0 25px; }


#footer_menu { width:980px; margin:0 auto; }
#footer_menu ul { width:980px; list-style:none; margin-left:120px; padding-top:10px; }
#footer_menu li { float:left; margin:0px 60px 20px 25px; font-size:14px; font-weight:bold; color:#333; cursor: pointer; }


.viewpage_text { font-size:15px; font-weight:400; color:#000; line-height:180%; letter-spacing: 0; }
.viewpage_text p { margin:0px; padding:0px;}
.viewpage_noti { font-size:20px; font-weight:bold; color:#000; line-height:35px; }
.viewpage_noti_blue { font-size:20px; font-weight:bold; color:#0011ad; line-height:35px; }


.cs_btn_gray { float:right; margin-left:10px; width:75px; height:25px; padding-top:8px; background:#e2e2e2; border-radius:5px; color:#555; font-size:14px; font-weight:600; text-align:center; }
.cs_btn_red { float:right; border:0; margin-left:10px; width:85px; height:28px; padding-top:10px; background:#ff4b4b; border-radius:5px; color:#fff; font-size:15px; font-weight:600; text-align:center; }
.cs_btn_red_button { float:right; border:0; margin-left:10px; width:74px; height:31px; padding-top:2px; padding-bottom:2px; background:#ff4b4b; border-radius:5px; color:#fff; font-size:14px; font-weight:600; text-align:center; cursor:pointer; }


.c_title { font-size:32px;line-height:1.8; letter-spacing:-1px; color:#333; }
.c_subtitle { font-size:22px;line-height:1.8; color:#333; padding-bottom:10px; font-weight:bold;}
.c_text { font-size:16px;line-height:1.8; color:#333; }
.c_line { border: 0; height: 0; border-bottom: 1px solid #ccc; }

.border0 { border:1px solid #ffffff;}
.border1 { border:1px solid #c8c8c8;}
.border2 { border:1px solid #e81b19;}
.background_01 { background-color:#ffffff;}
.background_02 { background-color:#f5f5f5;}



.red{ color:red; }
.blue{ color:blue; }
.txt_red {color:red;}
.txt_blue {color:#000098;}


