<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.webproject.mapper.LoginMapper">
	
	<select id="getAdmin">
		SELECT admin_id, admin_pwd FROM administrators;
	</select>
	
	<insert id="memberJoin">
  		INSERT INTO members VALUES(member_code_seq.nextval, 'bb1', 'bbb', 'aaa', sysdate, 'aaaq', 'aaa')
  	</insert>
	
	<insert id="add">
		INSERT INTO members VALUES(
			member_code_seq.nextval,
			#{member_id},
			#{member_pwd},
			#{member_name},
			sysdate,
			#{member_phone},
			#{member_email})
	</insert>
	
</mapper>