<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.webproject.mapper.PaymentMapper">

	<insert id="insertPayment" parameterType="PaymentDTO">
		INSERT INTO payments(
	  		payment_code,
	  		related_coupon,
	  		payment_way,
	  		payment_date,
	  		total_price
  		) VALUES (
	  		#{payment_code},
	  		#{related_coupon, jdbcType=VARCHAR},
	  		#{payment_way},
	  		#{payment_date},
	  		#{total_price}
  		)
	</insert>
	
	<insert id="insertTicket" parameterType="TicketDTO">
		INSERT INTO advance_tickets(
	  		advance_ticket_code,
	  		booker_code,
	  		performance_code,
	  		booking_date,
	  		booking_time,
	  		booking_type,
	  		payment_code_fk
  		) VALUES
        (advance_ticket_code_seq.nextval,
  		 #{booker_code},
  		 #{performance_code},
  		 #{booking_date},
  		 #{booking_time, jdbcType=VARCHAR},
  		 #{booking_type},
  		 #{payment_code_fk})
	</insert>
	
	<update id="updatePerformaceQty">
		UPDATE performance		
		SET performance_qty = (performance_qty - #{qty})
		WHERE performance_code = #{performance_code}		
	</update>	

	 <select id="getUserPayment">
		SELECT * FROM payments WHERE payment_code = #{payment_code}
	</select>

	<select id="getRefundList" resultType="RefundDTO">
		SELECT DISTINCT
		 ref.refund_code, ref.payment_code, ref.refund_date, ref.refund_status,
		 pay.payment_date, pay.related_coupon, pay.total_price, pay.payment_way,
		 mem.member_id, mem.member_code
		 FROM 
		 refund ref, payments pay, advance_tickets ati, members mem 
		 WHERE 
		 ref.payment_code = pay.payment_code 
		 AND ati.payment_code_fk = pay.payment_code 
		 AND ati.booker_code = mem.member_code 
		 AND ref.refund_status = #{option}
	</select>
	
	<!--  
	<select id="getRefundList" resultType="RefundDTO">
		SELECT * FROM refund ref, payments pay WHERE ref.payment_code = pay.payment_code AND ref.refund_status = #{option}
	</select>
	-->
	
	<insert id="insertRefundTicket">
		INSERT INTO refund (
			refund_code,
			payment_code,
			refund_status
		)
		VALUES (
			refund_code_seq.nextval,
			#{payment_code}, 
			'환불요청'
		)	
	</insert>
	
	<update id="updateRefundTicketState">
		UPDATE refund SET refund_status = '환불완료', refund_date = sysdate WHERE payment_code = #{payment_code}
	</update>
	
	<select id="getTicketQty">
		SELECT COUNT(*) FROM advance_tickets WHERE payment_code_fk = #{payment_code}
	</select>
	
</mapper>