<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.webproject.mapper.PaymentMapper">

	<insert id="insertPayment" parameterType="PaymentDTO">
		INSERT INTO payments(
	  		payment_code,
	  		related_coupon,
	  		payment_way,
	  		payment_date,
	  		total_price
  		) VALUES (
	  		#{payment_code},
	  		#{related_coupon, jdbcType=VARCHAR},
	  		#{payment_way},
	  		#{payment_date},
	  		#{total_price}
  		)
	</insert>
	
	<insert id="insertTicket" parameterType="TicketDTO">
		INSERT INTO advance_tickets(
	  		advance_ticket_code,
	  		booker_code,
	  		performance_code,
	  		booking_date,
	  		booking_time,
	  		booking_type,
	  		payment_code_fk
  		) VALUES
        (advance_ticket_code_seq.nextval,
  		 #{booker_code},
  		 #{performance_code},
  		 #{booking_date},
  		 #{booking_time, jdbcType=VARCHAR},
  		 #{booking_type},
  		 #{payment_code_fk})
	</insert>
	
	<update id="updatePerformaceQty">
		UPDATE performance		
		SET performance_qty = (performance_qty - #{qty})
		WHERE performance_code = #{performance_code}		
	</update>
	
	<select id="getUserPayment">
		SELECT * FROM payments WHERE payment_code = #{payment_code}
	</select>
	<!-- 전체 join table coupon 제거? 변경시 필요할듯 -->
	<!-- <select id="getRefundList" resultType="RefundDTO">
		SELECT ref.refund_code, ref.payment_code, ref.refund_date, ref.refund_status,
		 pay.payment_date, pay.related_coupon, pay.total_price, pay.payment_way,
		 ati.booking_type, ati.advance_ticket_code, ati.booking_time, 
		 mem.member_name 
		 FROM refund ref, payments pay, advance_tickets ati, members mem 
		 WHERE ref.payment_code = pay.payment_code AND ati.payment_code_fk = pay.payment_code 
		 and ati.booker_code = mem.member_code and ref.refund_status = '환불요청'
	</select> -->
	
	<select id="getRefundList" resultType="RefundDTO">
		SELECT * FROM refund ref, payments pay WHERE ref.payment_code = pay.payment_code AND ref.refund_status = #{option}
	</select>
	
	
	<select id="getAllPayment" resultType="PaymentDTO">
		SELECT * FROM payments
	</select>
	
	<select id="getAllPayPerfom" resultType="PerfomSaleDTO">
		SELECT * FROM payments pay, advance_tickets ticket, performance per WHERE pay.payment_code = ticket.payment_code_fk AND ticket.performance_code= per.performance_code
	</select>
	
</mapper>