<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.webproject.mapper.CustomUserDetailsMapper">
	<select id="getMemberInfo" resultType="MembersDTO" parameterType="string">
		SELECT
    		m.*,
    		NVL(cc.coupon_count, 0) AS coupon_count,
    		NVL(wc.wish_list_count, 0) AS wish_list_count
		FROM
    	(
     		SELECT
        		*
     		FROM
        		members
     		WHERE
        		member_id=#{member_id}
    	) m,
    	(
     		SELECT
       			count(*) AS coupon_count,
        		user_code
     		FROM
        		member_coupon
     		GROUP BY user_code
   		) cc,
    	(
     		SELECT
        		count(*) AS wish_list_count,
		        list_writer_code
		     FROM
		        wish_list
		     GROUP BY list_writer_code
    	) wc
		WHERE
    		m.member_code=cc.user_code(+)
    		AND m.member_code=wc.list_writer_code(+)
	</select>
</mapper>