@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.scroll-up{
    z-index: 10000;
    width: 70px;
    height: 70px;
    opacity: 0;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    transition: all 300ms ease-in;
    pointer-events: none;
    cursor: pointer;
}
.scroll-up img{
    opacity: 0.9;
    width: 100%;
}
.scroll-up.visible{
    opacity: 0.9;
    display: block;
    pointer-events: auto;
}
