<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.webproject.mapper.SearchMapper">
	<select id="getSearchList">
		SELECT * FROM performance 
		WHERE end_date > sysdate 
		AND (performance_name LiKE '%' || #{keyword} || '%'
			OR address LiKE '%' || #{keyword} || '%'
			OR place LiKE '%' || #{keyword} || '%')
		ORDER BY rownum
	</select>
	<select id="getUserSearchList">
		SELECT * FROM performance 
		LEFT OUTER JOIN wish_list USING(performance_code) 
		WHERE end_date > sysdate 
		AND (performance_name LiKE '%' || #{keyword} || '%'
			OR address LiKE '%' || #{keyword} || '%'
			OR place LiKE '%' || #{keyword} || '%')
		ORDER BY rownum
	</select>
</mapper>