#mypage_con {
	width: 1100px;
	margin: 0 auto; /* 중앙정렬 */
	display: grid;
	grid-template-columns: 250px 1fr;
	row-gap: 30px;
	column-gap: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#mypage_con > div {
	border-radius: 10px;
	background-color: white;
}
	/* 상단 메뉴 css */
	#mypage_top {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		height: 130px;
		font-weight: bold;
		font-size: 18px;
	}
	
	#mypage_top > div:first-child {
		background-color: #46c8b4;
		display: flex;
	    align-items: center;
	    padding-left: 30px;
	    border-radius: 8px 0 0 8px;
	}
	
	.mypage_top_contents {
		display: grid;
		grid-template-rows: 1fr 1fr;
		padding: 30px 30px;
	}
	
	#my_info, #my_coupon, #my_wishList {
		border-right: 1px solid #ddd;
	}
	
	#my_coupon > div, #my_wishList > div {
		cursor: pointer;
	}
	
	#my_coupon > div:last-child, #my_wishList > div:last-child {
		padding-left: 8px;
	}

	/* 왼쪽 메뉴 css */
	#mypage_menu {
		display: grid;
		grid-template-rows: 50px 250px 250px;
		min-height: 550px;
		padding: 40px 20px 0 30px;
	}
	
	#mypage_menu_txt {
		font-size: 25px;
	    font-weight: 700;
	    color: #555;
	    border-bottom: 1px solid #ddd;
	}
	
	#mypage_menu_user {
		display: grid;
		grid-template-rows: repeat(5, 40px);
		padding-top: 30px;
		border-bottom: 1px solid #ddd;
	}
	
	#mypage_menu_as {
		display: grid;
		grid-template-rows: repeat(3, 40px);
		padding-top: 20px;
	}
	
	.mypage_menu_btn {
		background-color: white;
		color: black;
		font-size: 18px;
		border: 0;
		cursor: pointer;
	}
	
	.mypage_menu_btn:hover {
		color:  #46c8b4;
		font-weight: bold;
	}
	
	
