<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.webproject.mapper.MD_RecomMapper">
	
	<insert id="addMDrecom" parameterType="com.team.webproject.dto.MDrecomDTO">
		INSERT INTO md_recommendation
		values(md_code_seq.nextval, #{md_title}, #{md_genrenm}, #{md_area}, #{md_period_start}, #{md_period_end})
	</insert>
	
	<select id="currseq" resultType="int">
    	SELECT md_code_seq.CURRVAL FROM dual
	</select>
	
	<insert id="addMDperfo" parameterType="com.team.webproject.dto.MDPerformanceDTO">
		INSERT INTO md_performance_list
		values(md_performance_code_seq.nextval, #{recommened_performance}, #{md_code}, #{recommened_performance_name})
	</insert>
	
	<select id="getMDrecom" resultType="MDrecomDTO">
    	SELECT * FROM md_recommendation
	</select>
	
	<select id="getMDposter" resultType="MD_getPosterDTO">
    	SELECT ml.md_code, ml.recommended_performance, pf.performance_name, pf.poster FROM md_performance_list ml LEFT JOIN performance pf ON ml.recommended_performance
    		 = pf.performance_code
	</select>
	
	<select id="getMDperfom" resultType="com.team.webproject.dto.PerformanceDTO">
    	SELECT * FROM md_performance_list md, performance per WHERE md.recommended_performance = per.performance_code AND md.md_code = #{md_code}
	</select>
</mapper>