.allcss {
  margin: 0;
  padding: 0;
}

 /* InquiryBox style */
.filter {
        width: 800px;
    }
    .table-box {
        width: auto;
        height: 500px;
        border: 1px solid #ddd;
    }

    .inquiry-title {
        width: 500px;
    }
.inquiry-box {
    display: grid;
    margin: 5px;
    border: 2px solid #ddd;
    width: 1000px;
    height: 500px;
}

.topnav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 73px;
  background-color: #212529;
  overflow: hidden;
  z-index: 2;
}

.topnav > input {
	position: fixed;
	border: 0;
	background-color: transparent;
	color: white;
	font-size: 17px;
	right: 20px;
	top: 20px;	
	cursor: pointer;
}

.topnav > input:hover {
	color: #46c8b4;
	font-weight: bold;
}

#mdselect{
	padding: 10px;
}
#mdtable{
	width: auto;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
}
#mdbtn{
	padding: 10px;
	
}

#mdbtn_menu{
	float:left;
	width: 450px;
	height:420px;
	margin-top: 10px;
	border: 1px solid #ddd;
}
#mdmenu{
	width: 73%;
	margin:0 auto;
	float:right;
	
}
@media screen and (max-width: 1912px) {
        /* 화면 크기가 768px 이하일 때 적용되는 스타일 */
        #mdbtn_menu {
            float: none; /* float 제거 */
            width: 100%; /* 전체 너비로 설정 */
            height: auto; /* 높이 자동 조정 */
            margin-top: 10px;
            border: 1px solid #ddd;
        }

        #mdmenu {
            float: none; /* float 제거 */
            width: 100%; /* 전체 너비로 설정 */
            margin: 0 auto;
        }
    }
#md_product{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 25px;
    row-gap: 20px;
    margin-left: 0px;
	margin-top: 10px;
	padding: 0px 10px;
	float: left;
	
}
.selected-label{
	margin: 5px;
    padding: 5px 10px; /* 라벨의 내부 여백 설정 */
    border-radius: 15px; /* 라벨을 동그랗게 만들기 위한 속성 */
    background-color: #f2f2f2; /* 라벨의 배경색 지정 */
    display: inline-block;
}


.product-module{
    column-gap: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 320px 40px 1fr 30px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.product-module:hover{
    transform: translate(0,-5px);
}
.product-module > :nth-child(n+2):nth-child(-n+4){
    text-align: left;
    padding-left: 10px;
}
.product-module-poster{
    border-radius: 15px;
    width: 250px;
    height: 312.5px;
    margin: auto;
}
.product-module-top{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-module-top > :first-child{
    text-align: left;
}
.product-module-top > :last-child{
    text-align: center;
}

.product-module-title{
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
    color: black;
}

 .table-box {
      width: auto;
      height: auto;
      border: 1px solid #ddd;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 2800px;
      border: 1px solid #ddd;
    }

    th,
    td {
      text-align: center;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    #add {
        background-color: #4CAF50;
        color: white;
    }
    #add:hover {
        background-color: #45a049;
    }


    #delete {
        background-color: #f44336;
        color: white;
        margin-left: 10px;
    }
    #delete:hover {
        background-color: #d32f2f;
    }

.active {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav button:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #212529;
  color: white;
}


.sidenav {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 73px;
  padding-left: 10px;
 
}

.stitle {
  padding: 10px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #46c8b4;
}

.sidenav a {
  padding: 6px 8px 15px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 200px;
  margin-top: 10px;
  padding: 0px 10px;
  text-align: center;
}

.table-box {
        margin: 20px;
        border: 1px solid #ccc;
        border-collapse: collapse;
    }
    .table-box table {
        width: 100%;
    }
    .table-box th, .table-box td {
        border: 1px solid #ccc;
        padding: 8px;
    }
    .table-box th {
        background-color: #f2f2f2;
    }
    .table-box select, .table-box input[type="text"], .table-box input[type="date"] {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    
.table-box {
    width: auto;
    height: auto;
    border: 1px solid #ddd;
  }

  #table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 1000px;
    border: 1px solid #ddd;
  }

  #th,
  #td {
    text-align: center;
    padding: 8px;
  }

  #tr:nth-child(even) {
    background-color: #f2f2f2
  }
  
  /* 메뉴버튼 */
  button {
	  cursor: pointer;
  }
  
  .indexbtn {
	  margin-left: 10px;
  }
  
  button {
	   width: 100px;
	   padding: 10px 20px;
	   margin-top: 10px;
	   background-color: rgb(160, 160, 160);
	   color: white;
	   font-size: 15px;
	   font-weight: 600;
	   border: none;
	   border-radius: 5px;
	   cursor: pointer;
    }

    button:hover {
        background-color: #46c8b4;
    }
/* 환불 부분 -------------------------------------------------------------*/   
/* 스타일을 추가하여 요소 간격을 벌립니다. */
#Refund-request {
    display: flex;
    /* 요소를 행으로 나란히 배치합니다. */
}

/* 각각의 요소에 스타일을 적용합니다. */
#Refund-request>div {
    margin-right: 100px;
    /* 오른쪽 마진을 추가하여 간격을 만듭니다. */
}

/* 스타일을 추가하여 요소 간격을 벌립니다. */
#Refund-complete {
    display: none;
    /* 요소를 행으로 나란히 배치합니다. */
}

/* 각각의 요소에 스타일을 적용합니다. */
#Refund-complete>div {
    margin-right: 100px;
    /* 오른쪽 마진을 추가하여 간격을 만듭니다. */
}
/* 탭 스타일 */
.refund_tab {
	padding-top:70px;
	font-size: 10px;
    overflow: hidden;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;

}

.tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    padding: 14px 15px;
    background-color: darkgrey;
}

.tablinks.active {
	font-size: 13px;
    background-color: #02b900;

}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


.search-text{
	margin-right: 10px;
	
	
}
/* 검색/초기화 div */
.search-box {
    text-align: center;
}

/* 검색버튼 */
.search-btn {
    border: none;
    color: white;
    background-color: #03c75a;
    margin: 5px;
    width: 150px;
    height: 50px;
}

.search-btn:hover {
    background-color: #02b900;
}

/* 초기화 버튼 */
.initialization-btn {
    border: 1px solid #ddd;
    color: black;
    background-color:gainsboro ;
    margin: 5px;
    width: 150px;
    height: 50px;
}

.initialization-btn:hover {
    color: black;
}